{% extends 'base.html' %}
{% block content %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css.css') }}">
    <div style="padding-bottom: 10px">
    <div class="has-text-centered title" > Threads </div>
    {% for each in threads %}
        <div class="row">
    <a href="http://127.0.0.1:5000/forum/{{ each.id }}">
        <div style="color: aqua; border: 5px solid #00d1b2; flex-grow: 5;" class="has-text-centered div_hover col-8">
            <p style="padding-bottom: 5px">{{ each.subject }}</p>
        </div>
    </a>
        <div class="col-4">
            {% if current_user.id == each.user_id %}
        <form method="POST" action="\foo_threads">
                 <input type="hidden" name="thread_id" placeholder="your answer" value="{{ each.id }}" >
            <input type="submit" value="delete" class="button is-block is-danger">
        </form>
    {% endif %}
        </div>
        </div>
        <div style="margin: 5px"></div>
    {% endfor %}
    <form method="POST">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="thread_subject" placeholder="your thread" autofocus="">
                </div>
            </div>
            <button class="button is-block is-info">Post</button>
    </form>
    </div>
{% endblock %}